body {
    margin: 0;
    padding: 0;
}

/*************************************************************************************
                                    HEADER
**************************************************************************************/
header {
    background-color: black;
    color: white;
    width: 100%;
}

#header {
    display: block;
    background-color: black;
    color: white;
}

.header_contained1 {
    width: 100%;
}

.logo {
    margin: 15px 0 0 400px;
}

.header_contained1 > p {
    margin-left: 400px;
}

.searchbar {
    margin-left: 385px;
    font-size: 20px;
}

.searchButton {
    margin-left: 5px;
    font-size: 20px;
}

.header_contained2 {
    width: 100%;
    background-color:rgb(153, 16, 16);
    padding: 15px;
    margin:0px;
}


/*************************************************************************************
                                    MAIN
**************************************************************************************/







/*************************************************************************************
                                    Pad
**************************************************************************************/
@media screen and (min-width:768px) and (max-width:1200px) {
    #header {

    }

}


/*************************************************************************************
                                    Smartphone
**************************************************************************************/

@media screen and (max-width:767px) {
    #header{

    }

}