.numbers {
    border: 2px solid gray;
    background-color: lightgrey;
    font-size: 0;
    width: 50%;

}

.tabloid {
    border: 2px solid gray;
    background-color: rgb(0, 248, 227);
    font-size: 75pt;
    width: 50%;
    height: 15vh;
}

p {
    font-size: 60px;
    text-align: right;
}

h1 {
text-align: left;
padding: 0 0 0 300px; 
}

button {
    font-size:40px;
    font-weight: bold;
    padding: 50px;
    width: 25%;
}

.clear {
    width: 50%;
    background-color: rgb(142, 163, 190);
}

.submit {
    width: 50%;
    background-color:rgb(101, 179, 101);
}

span {
    float: right;
    padding: 8px;
}