#box {
	width: 350px;
	padding: 10px;
	background-color: #f3f3f3;
	border: 1px solid #ccc;
	border-radius: 15px;
	text-align: center;
	margin: auto;
	font-family: arial;
	font-size: 16px;

	margin-bottom: 30px;
}


strong {
	color: green;
}