/************************************
            PAGE 1 : index.html
*************************************/
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color:#f1f1f1;
}

/* Nav */

.navbar-brand {
    font-size:25px;
    font-family: 'kaushan script';
}

#navbarCollapse a {
    font-size: 20px;
}


/* Header */

#top {
    background-image: url('../img/header1.jpg');
    background-size: cover;
    height: 60vh;
}

.text-intro {
    padding-top: 300px;
    padding-bottom: 200px;
}

.slogan {
    font-size: 40px;
}

.page1 {
    font-size: 90px;
    color: #fff;
    font-family: sans-serif;
    font-weight: 700;
}

/* info section */

img {
    border-radius: 5px;

}

.play {
    font-weight: 700;
    color: rgb(90, 105, 105);
}

/* 3 Icons */

#home-icons {
    padding-top: 100px;
    padding-bottom: 100px;
    border-top: 1px solid black;
}

/*Parallax*/

#parallax {
    position: relative;
    min-height: 300px;
    background: url('../img/parallax6.jpeg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    text-align:center;
    color:#fff;
}

#parallax h2 {
    font-size: 40px;
    color:#f1f1f1;
}

.trigger {
    font-size: x-large;
}

/* World Best Players*/

#bestPlayers {
    padding-bottom: 120px;
}

#bestPlayers img {
    margin-top: -50px;
}

.fab {
    font-size: 25px;
    color: #003366;
}

#main-footer {
    border-top: 1px solid grey;
}

/************************************
            PAGE 2 : ranks.html
*************************************/



.jumbotron1 {
    background-image: url('../img/jumbotron2.png');
    background-size:cover;
    color: #fff;
    height: 31vh;
    width: 100%;
}

.backgDos {
    border-radius: 10px;
    background-color: rgb(216, 224, 220);
    height: 20vh;
}

#solo_stats {
    margin-top: 1px solid black;
}

.alert {
    width: 100%;
    text-align: center;
    color:#f1f1f1;
}

thead {
    color:brown
}

#videogamer {
    overflow: auto;
}


/************************************
            PAGE 3 : subscript.html
*************************************/

.jumbotron2 {
    background-image: url('../img/nextchamp.png');
    background-size:cover;
    color: #fff;
    height: 31vh;
    width: 100%;
}

.nextChamp {
    color: orangered;
    font-style: italic;
}

.headlineSubs {
    color: black;
    font-size: large;
}

.sumbmitSub {
    font-size: x-large;
    font-weight:bolder ;
}



/************************************
            MEDIA QUERIES :
*************************************/
/* PAGE 1*/

@media screen and (max-width: 760px) {
    #top {
        height: 60vh;
    }
    .text-intro {
        padding-top: 350px;
    }
    .slogan {
        font-size: 30px;
    }
    .page1 {
        font-size:60px;
    }
    .subscript1 {
        margin-bottom: 10px;
    }
    .play {
        margin-top: 10px;
    }
} 


@media screen and (max-width: 500px) {

    .slogan {
        font-size: 25px;
    }
    .text-intro {
        transform: scale(0.8); /* intro text scaled down -20% */
    }
    .page1 {
        font-size:45px;
    }
}


/* PAGE 2*/

@media screen and (max-width: 1000px) {

    .backgDos {
     height: 300px;
    }
    iframe {
       width: 300px;
       height: 200px;
    }
}

@media screen and (max-width: 767px) {

    #videogamer {
        transform: scale(0.9);
    }
    .backgDos {
        height: 400px;
    }
    iframe {
        width: 250px;
        height: 200px;
     }

    #msdossary {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

     .videoDos {
        justify-content: center;
    }

    .readMore {
        width:150px;
        align-self:center
    }

}

@media screen and (max-width: 550px) {

    #videogamer {
        transform: scale(0.9);
    }

    .videoDos {
        justify-content: center;
    }
    .backgDos {
        height: 500px;
    }
    iframe {
        width: 400px;
        height: 200px;
     }
    #msdossary h3 {
        font-size:larger;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .readMore {
        align-self:center
    }

}