@font-face {
    font-family:'lemon';
    src: url("../polices/LEMONMILK-Light.otf")
}

body {
    font-family: source;
}

/* partie 1 */
hr.un {
    border: none;
    border-top:1px dotted lightgray;
    margin-top: 1.5em;
}

hr.deux {
    border: none;
    border-top:1px dotted lightgray;
    margin-top: 1.5em;
}


.info {
    float: left;
}

.gobutton {
    background-color: rgb(235, 126, 126);
    border-color: rgb(235, 126, 126);
    color: whitesmoke;
    font-weight: bold;
}

.gobutton:hover {
    background-color: rgb(228, 56, 56);
    border-color: rgb(228, 56, 56);
}

ul {
    display: inline-flex;
    list-style-type: none;
    text-align: center;
    margin: 15px;
    margin-left: 15%;
}

span {
    color: red;
}

a.link1 {
    padding: 10px 50px 10px 50px;
    border: 1px solid black;
    background-color: rgb(67, 68, 68);
    color: white;
    text-decoration: none;
}

.topnav a:hover {
    background-color: red;
    border-color: red;
}

#breakingnews1 {
    display: inline-flex;
    margin-top: 20px;
    background-color: rgb(241, 240, 240);  
}

.forImage {
    float: left;
}

.big p {
    margin-right: 15px;
    padding: 5px 25px 25px 5px;
    line-height: 1.5;
    font-size: x-large;
}

.forImage {
    float: left;
    width:100%;
    height:100%;
    object-fit:cover;
}

.imageBig {
    float:left;
    width:550px;
    margin: 30px 30px 15px 15px;
}

h1 {
    color: rgb(92, 91, 91);
    font-size: 3em;
}


p {
    text-align: justify;
    color:rgb(116, 110, 110)
}

/* partie 2 */

.breakingnews2 {
    width: 100%;
}


h3 {
    color: grey;
    font-size: 1.2em;
    margin-bottom: 10px;
}

a.link2 {
    clear: both;
    color: black;
    text-decoration: none;
}

.small {
    display: inline-block;
    width: 33%;
    vertical-align: text-top;
}

.small p {
    line-height: 1.5;
    margin-top: 0;
    padding-right: 25px;
    }

.imageMini {
    float:left;
    width: 100px;
    height: auto;
    padding: 5px;
    border: 1px solid black;
    margin: 2px 10px 1px 0;
}
    
.readMore {
    font-weight: bold;
    border: none;
    padding: 5px 10px;
}

.readMore:hover {
    background-color: rgb(250, 69, 69);
}

a:visited {
color: none;
}






