@media screen and (max-width: 800px) {
    body {
        background-color: lightyellow;
    }
}

body {
    background-color: linen;
}

div {
    display: inline-block;
    margin: 10px;
    background-color: mediumaquamarine;
}

.options {
    text-align: center;
    font-size: 20px;
}

.wrapper {
border: 1px solid gray;  
}

div.living {
    background-color: lightblue;
    width: 150px;
    padding: 0 10px 10px 10px;
}

div.bedroom {
    background-color: lightcyan;
    width: 150px;
    padding: 0 10px 10px 10px;
}

div.bathroom {
    background-color: rgb(240, 240, 173);
    width: 150px;
    padding: 0 10px 10px 10px;
}

button {
    padding: 7px 20px;
    background: none;
    outline: none;
    border-radius: 15px;
    border: 2px solid grey;
    font-weight: bold;
}

button a {
    color: black;
    font-size: 15px;
    text-decoration: none;
}

button:hover {
    background: greenyellow;
    border: 2px solid greenyellow;
}

button:hover a {
    color: black;
    font-weight: bold;
}