img {
    box-shadow: 1px 1px 10px 1px lightsalmon;
}

input {
    margin: 0.5em;
    color: lightslategrey;
    border: 1px solid lightslategray
 
    
}

button {
    background-color: lightgray;
    font-weight: bold;
    color: black;
}
